<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="addform">
    <table align="center">
        <tr>
            <td>汽车名称</td>
            <td><input class="easyui-textbox" name="carName"></td>
        </tr>
        <tr>
            <td>汽车价格</td>
            <td>
                <input class="easyui-textbox" name="carPrice"></td>
            </td>
        </tr>
        <tr>
            <td>汽车说明</td>
            <td>
                <textarea name="carShow"></textarea>
            </td>
        </tr>
        <tr>
            <td>出厂时间</td>
            <td>
                <input type="text" class="easyui-datebox" name="carTime">
            </td>
        </tr>
    </table>
</form>

</body>
</html>