<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.SolrMapper" >


  <insert id="addCar" parameterType="com.jk.model.Car" >
      <selectKey keyProperty="carId" order="AFTER" resultType="int">
          SELECT LAST_INSERT_ID()
      </selectKey>
       insert into t_car(carName,carTime,carPrice,carShow) values(#{carName},#{carTime},#{carPrice},#{carShow})
  </insert>
  <delete id="delCar">
     delete from t_car where carId in
     <foreach collection="array" item="aa" open="(" separator="," close=")">
         #{aa}
     </foreach>
  </delete>
    <select id="queryCarById" parameterType="int" resultType="com.jk.model.Car">
        select * from t_car where carId = #{id}
    </select>

    <update id="updCar" parameterType="com.jk.model.Car">
        update t_car set carName = #{carName},carPrice = #{carPrice},carTime=#{carTime},carShow=#{carShow} where carId = #{carId}
    </update>
    <!--<insert id="addCarList" parameterType="java.util.List">
        insert into t_car(carName,carTime,carPrice) values
        <foreach collection="list" separator="," item="l">
            (#{l.carName},#{l.carTime},#{l.carPrice})
        </foreach>
    </insert>
    <select id="queryCar" parameterType="string" resultType="com.jk.model.Car">
        select ${column} from t_car
    </select>-->
</mapper>