<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table id="showUserId"></table>
<div id="addUserId"></div>
<!--<div id="saveUserRoleId" class="easyui-dialog" title="角色绑定" style="width:400px;height:100px;"
     data-options="iconCls:'icon-save',resizable:true,closed:true,modal:true,buttons:[{
				text:'保存',
				handler:function(){
					saveUserRole();
				}
			}]">
    <center><input id="roleId2" name="roleIds"></center>
</div>-->
<script>

    $(function () {
        queryUser();
        loadRole();
    })

    function loadRole() {
        $('#roleId2').combobox({
            url: '../role/queryRole',
            multiple: true,
            valueField: 'rid',
            textField: 'rname'
        });
    }

    function queryUser() {
        $('#showUserId').datagrid({
            url: '../queryUser',
            pagination: true,
            fitColumns: true,
            pageSize: 2,
            pageList: [2, 4, 6, 8, 10],
            toolbar: [{
                iconCls: 'icon-edit',
                text: "编辑",
                handler: function () {
                    alert('编辑按钮')
                }
            }, '-', {
                iconCls: 'icon-add',
                text: "添加",
                handler: function () {
                    $('#addUserId').dialog({
                        title: '新增用户',
                        width: 450,
                        height: 450,
                        closed: false,
                        cache: false,
                        href: '../toAddUser',
                        modal: true,
                        buttons: [{
                            text: '保存',
                            handler: function () {
                                $.ajax({
                                    url: "../addUser",
                                    type: "post",
                                    data: $("#addUserFormId").serialize(),
                                    success: function () {
                                        $.messager.show({
                                            title: '新增成功！！！',
                                            msg: '消息将在2秒后关闭。',
                                            timeout: 2000,
                                            showType: 'slide'
                                        });
                                        $('#addUserId').dialog("close");
                                        loadShowUserdatagrid();
                                    },
                                    error: function () {
                                        $.messager.show({
                                            title: '后台错误！！！',
                                            msg: '消息将在2秒后关闭。',
                                            timeout: 2000,
                                            showType: 'slide'
                                        });
                                    }
                                })
                            }
                        }, {
                            text: '关闭',
                            handler: function () {
                                $('#addUserId').dialog("close");
                            }
                        }]

                    });
                }
            }],
            onLoadSuccess: function () {
                $('[name="btn"]').linkbutton({
                    iconCls: 'icon-remove'
                });
                $('[name="but"]').linkbutton({
                    iconCls: 'icon-edit'
                });
            },
            /*queryParams: {
                userName:$("[name='userName']").val(),
                userSex:$("[name='userSex']:checked").val(),
                userDateStart:$("[name='userDateStart']").val(),
                userDateEnd:$("[name='userDateEnd']").val(),
                roleIds:$("#ccroleId").val(),
                userShengId:$("[name='userShengId']").val(),
                userShiId:$("[name='userShiId']").val(),
                quId:$("[name='quId']").val()
            },*/
            columns: [
                [
                    {field: 'userId', title: '编号', width: 30},
                    {field: 'userName', title: '账号', width: 30},
                    {
                        field: 'userSex', title: '性别', width: 30,
                        formatter: function (value, row, index) {
                            return value == 1 ? "男" : "女";
                        }
                    },
                    {field: 'rname', title: '角色', width: 100},
                    {field: 'userDate', title: '用户生日', width: 100},
                    {
                        field: '1', title: '操作', width: 100,
                        formatter: function (value, row, index) {
                            return "<a name='btn' href='javaScript:delUser(" + row.userId + ")'>删除</a> <a name='btn' href='javaScript:queryUserRoleById(" + row.userId + ")'>绑定角色</a>";
                        }
                    }
                ]
            ]
        });
    }

    function loadShowUserdatagrid() {
        $('#showUserId').datagrid("load", {})
    }

    /*function queryUserRoleById(id){
        $("#saveUserRoleId").dialog("open")
        $.ajax({
            url:'../queryUserRoleById?id='+id,
            success:function (data) {
                alert(data)
            }
        })
    }*/
</script>
</body>
</html>