<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../js/jquery-easyui-1.5.4.2/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../js/jquery-easyui-1.5.4.2/themes/icon.css">
    <script type="text/javascript" src="../js/jquery-easyui-1.5.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery-easyui-1.5.4.2/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../js/jquery-easyui-1.5.4.2/locale/easyui-lang-zh_CN.js"></script>
</head>
<body>
<table id="dgtableid"></table>
<div id="addCarId"></div>
<div id="updCarId" class="easyui-dialog" title="汽车信息修改" style="width:300px;height:200px;"
     data-options="iconCls:'icon-save',resizable:true,closed:true,modal:true,buttons:[{
				text:'保存',
				handler:function(){
					saveCar();
				}
			}]">
    <form id="updform">
        <input type="hidden" name="carId">
        <table align="center">
            <tr>
                <td>汽车名称</td>
                <td><input class="easyui-textbox" name="carName"></td>
            </tr>
            <tr>
                <td>汽车价格</td>
                <td>
                    <input class="easyui-textbox" name="carPrice"></td>
                </td>
            </tr>
        </table>
    </form>
</div>
<script>

    $(function(){
        queryCar();
    })
    function queryCar(){

        $('#dgtableid').datagrid({
            url:'../queryCarList',
            toolbar: [{
                iconCls: 'icon-add',
                text:"新增",
                handler: function(){
                    $('#addCarId').dialog({
                        title: '汽车新增',
                        width: 300,
                        height: 200,
                        closed: false,
                        cache: false,
                        href: '../toAddCar',
                        modal: false,
                        buttons:[{
                            text:'新增',
                            iconCls:'icon-add',
                            handler:function(){
                                $.ajax({
                                    url:"../addCar",
                                    data:$("#addform").serialize(),
                                    type:"post",
                                    success:function(){
                                        $('#dgtableid').datagrid('load',{});
                                    }
                                })
                                $('#addCarId').dialog('close');
                            }
                        },{
                            text:'取消',
                            iconCls:'icon-undo',
                            handler:function(){
                                $('#addCarId').dialog('close');
                            }
                        }]
                    });

                }
            },'-',{
                iconCls: 'icon-remove',
                text:"删除",
                handler: function(){
                    var arr = $('#dgtableid').datagrid('getSelections');
                    var temp="";
                    for(var i=0;i<arr.length;i++){
                        temp+=","+arr[i].carId;
                    }
                    var ids=temp.substr(1);
                    $.ajax({
                        url:"../delCar",
                        data:{ids:ids},
                        type:"post",
                        success:function(){
                            $('#dgtableid').datagrid('reload');
                        },
                        error:function(){
                            alert("后台错误");
                        }
                    });
                }
            }],
            onLoadSuccess:function(){
                $('[name="btn"]').linkbutton({
                    iconCls: 'icon-edit'
                });
            },
            fitColumns:true,
            columns:[
                [
                {field:'4',checkbox:true},
                {field:'carId',title:'汽车编号',width:100},
                {field:'carName',title:'汽车名称',width:100},
                {field:'carTime',title:'出厂日期',width:100,
                    formatter: function(value,row,index){
                        var date =new Date(value);
                        var tol=date.toLocaleDateString(date);
                        return tol;
                    }
                },
                {field:'carPrice',title:'汽车价格',width:100},
                {field:'1',title:'操作',width:100,
                    formatter: function(value,row,index){
                        return '<a name="btn" href="javaScript:queryCarById('+row.carId+')">修改</a>'
                    }
                }
            ]
            ]
        });

    }
    function queryCarById(id) {

        $.ajax({
            url:'../queryCarById',
            data:{id:id},
            success:function(data){
                $("#updform").form('load',data)
                $("#updCarId").dialog("open");
            }
        })
    }
    function saveCar() {
        $.ajax({
            url:"../updCar",
            data:$("#updform").serialize(),
            type:"post",
            success:function () {
                $("#updCarId").dialog("close");
                $('#dgtableid').datagrid('load',{});
            }
        })
    }
</script>
</body>
</html>